<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<div style="width: 600px; margin: auto; border: 1px #ccc solid; padding: 30px">
    <h2>Witaj na stronie naszej biblioteki, poniżej widoczna jest lista ksiązek</h2>
    <span><br></span>
    <h6>Wybierz czynność:</h6>

    <a class="btn btn-primary" href="/addbookside" role="button">Dodaj do bazy</a>
    <a class="btn btn-primary" href="/deletebookside" role="button">Usuń z bazy</a>
    <a class="btn btn-primary" href="/editbookside" role="button">Edytuj ksiązkę</a>
    <a class="btn btn-primary" href="/sortlist" role="button">Sortuj</a><br>
    <span><br></span>

    <table class="table">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Data wydania</th>
            <th>ISBN</th>
            <th>Kategoria</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${allBooks}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.issueDate}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.category}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>