<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<div style="width: 600px; margin: auto; border: 1px #ccc solid; padding: 30px">
    <h2>Sortowanie</h2>
    <form action="/sorted">

        <div class="form-group">
            <label >Wybierz pole sortowania:</label>
            <select class="form-control" th:name="field">
                <option th:each="listString: ${list}" th:text="${listString}" th:value="${listString}" id="field"></option>
            </select>
        </div>

        <input type="submit" value="Sortuj" class="btn btn-primary"/>

    </form>
</div>
</body>
</html>